.navbar {
    background-color: black;
    margin-bottom:10px;
}

.toggler {
    background-color: white;
}

.brand-name {
    background-color: white;
    font-weight: 700;
    font-size: 12px;
    color: black;
    border-width: 0px;
    padding: 8px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
}

.home-bg-container {
    background-color: black;
    color: lightgrey;
    font-family: "Times New Roman";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-section {
    background: black;
    color: white;
    font-family: "Times New Roman";
}

.skills-container{
    box-shadow: 10px 10px 10px black;
    
}

ul{
    list-style-type:none;
}

.skills :hover{
    font-size: 22px;
    list-style-type: disclosure-closed;
    padding: 8px;
}

.projects-section {
    background: black;
    color: white;
    font-family: "Times New Roman";
}

.contact-section {
    background: black;
    color: white;
    font-family: "Times New Roman";
}

.linkedin-id {
    background: white;
    display: inline;
    padding-top: 0px;

}


@media screen and (max-width:768px) {

    .image {
        height: 45px;
        width: 45px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .welcome-heading {
        text-align: center;
        font-size: 12px;
        font-weight: 900;
    }

    .heading {
        font-size: 25px;
        font-weight: 900;
        text-align: center;
    }

    .description {
        font-size: 17px;
        font-weight: 900;
    }
}

@media screen and (min-width:769px),
(max-width:1199px) {

    .image {
        height: 250px;
        width: 250px;
        border-top-right-radius: 250px;
        border-bottom-right-radius: 250px;
        border-top-left-radius: 250px;
        border-bottom-left-radius: 250px;
        display: flex;
        align-self: center;
    }

    .welcome-heading {
        text-align: center;
        font-size: 25px;
        font-weight: 900;
    }

    .heading {
        font-size: 35px;
        font-weight: 900;
        text-align: center;
    }

    .description {
        font-size: 27px;
        font-weight: 900;
    }
}